<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="avrdudeGUI.avrdudeGUI" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <avrdudeGUI.avrdudeGUI>
            <setting name="Avrdude" serializeAs="String">
                <value />
            </setting>
            <setting name="Programmer" serializeAs="String">
                <value />
            </setting>
            <setting name="Port" serializeAs="String">
                <value />
            </setting>
            <setting name="Device" serializeAs="String">
                <value />
            </setting>
            <setting name="DisplayWindow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CommandLineOption" serializeAs="String">
                <value />
            </setting>
        </avrdudeGUI.avrdudeGUI>
    </userSettings>
</configuration>